.bg{
    background-image: url( "../img/bg.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-rows: 3.5fr 1.5fr 5fr ;
    grid-gap: 10px;
    height: 100vh;
    /* justify-content: center; */
    padding: 10px;
}

@media (max-width: 1024px) {
    .bg{
        background-image: url( "../img/bgmobile.png") ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        grid-template-rows: 3.5fr 3fr 5fr ;
    }
}

@media (min-width: 1024px) {
    .SL{
        position: relative;
        /* left: 50%; */
        padding-left: 25%;
        padding-right: 25%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .SL{
        position: relative;
        /* left: 50%; */
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        justify-content: center;
    }
}

.SLButton{
    margin-left: 5%;
    width: 40%;
    height: 50px;
    margin-right: 5%;
    border: 0ch;
    color: aliceblue;
    background-color: rgb(33, 153,249);
    border-radius: 5px;
    font-size: x-large;
}

.SLButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Heading{
    text-align: center;
    /* vertical-align: middle; */
    color:antiquewhite;
}

.LandingPageSubText{
    margin: auto;
    font-size: x-large;
}

.LandingPageHeadingText{
    margin: auto;
    font-size: 50px;
}
